<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatisdemo.dao.MybatisMapper">

    <select id="selectList"  resultType="map">
        select
        id,
        `name` `6.17`,
        age `#$1`
        from
        mybatis_demo

    </select>

</mapper>